<h1 class="page-title">Projects</h1>
{%- assign date_format = site.minima.date_format | default: "%B %Y" -%}
{%- assign projects = site.projects | where: 'layout','project' -%}
{%- if page.title != "Projects" -%}
    {%- assign l = 2 -%}
{%- endif -%}
{% for project in projects limit:l %}
    <a href="{{ project.url | relative_url }}">
    <div class="menu-item-outer-wrapper">
        <div class="menu-item-img-wrapper">
        {%- assign preview_images_path = project.title | downcase | slugify -%}
        <img src="/assets/images/{{ preview_images_path }}/{{ project.preview-image }}">
        </div>
        <div class="menu-item-wrapper">
        <div class="menu-item-text">
            {{ project.title }}
            <br>
            <div class="menu-item-date">
                <span>
                - {{ project.date | date: date_format }}
                </span>
            </div>
        </div>
        </div>
    </div>
    </a>
{% endfor %}