<div class="sidebar">
  <a href="{{ "/" | relative_url }}">
    <img class="rounded-img" src="{{ "/assets/images/photos/sidebar_pic.jpg" | relative_url }}">
  </a>

  <div>Riley Peterson</div>
  {%- include social-row.html -%}
  <hr class="sidebar-hr" />
  <div class="sidebarMenu">
    <!-- TODO for loop here -->
    {% for page_title in site.pages_ordered %}
    <a href="{{ site.baseurl }}/{{ page_title | downcase }}">
      <h2>{{ page_title | capitalize }}</h2>
    </a>
    {% endfor %}

    <!-- <div id="home">
      <a href="#"><h2>Home</h2></a>
    </div>
    <a href="{{ site.baseurl }}/about"><h2>About</h2></a>
    <a href="#"><h2>Projects</h2></a> -->
  </div>
  <hr class="sidebar-hr" />
  {%- include spotify-widget.html -%}
</div>