// Define some variables

$defaultBackground: #012338;
$defaultFontColor: #f0f6ff;
$defaultFontFamily: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
$defaultSidebarWidth: 300px;
$defaultLineColor: #ffffff;
$defaultHoverColor: #1859d1;
$defaultLinkColor: #657af0;
$defaultLineHeight: 1.3125;
$defaultMenuItemColor: #e7eaff;
$defaultMenuMinHeight: 175px;
$defaultFontSize: 16pt;