---
layout: default
---

{%- assign date_format = site.minima.date_format | default: "%B %Y" -%}

<header class="post-header">
  <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
  <p class="post-meta">
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {{ page.date | date: date_format }} 
      {% if page.end_date %} 
        - {{ page.end_date | date: date_format }} 
      {% endif %}
    </time>
</header>


<hr class="project-hr" />
<div class="project-content">
  {% if page.exclude-toc %} {% else %} {% include toc.html html=content %} {%
  endif %} {{ content }}
</div>
